<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
  }

  /* grid */
  .parent {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 64px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100vw;
  }

  #status-container {
    display: flex;
    align-items: center;
    padding-left: 16px;
    grid-area: 1 / 1 / 2 / 2;
  }

  #search-container {
    display: flex;
    justify-content: flex-end;
    grid-area: 1 / 2 / 2 / 3;
  }

  #content-container {
    grid-area: 2 / 1 / 3 / 2;
    padding: 1em;
    outline-style: none;
  }

  #list-container {
    grid-area: 2 / 2 / 3 / 3;
  }

  /* note-list */
  ul#note-list {
    padding: 0;
    margin: 0;
  }

  ul#note-list li {
    list-style: none;
    cursor: pointer;
    padding: 0.5em 1em;
    text-align: right;
  }

  ul#note-list li:hover {
    background-color: #ddd;
  }

  /* status */
  #status-saved {
    border-radius: 50%;
    border: 0px;
    width: 16px;
    height: 16px;
    background-color: #ff5a5a;
  }

  #status-saved.yes {
    background-color: green;
  }

  #status-created {
    margin-left: 10px;
  }

  /* search */
  #search-input {
    border-radius: 4px;
    padding: 1em;
    margin: auto 16px auto 0;
    border: 1px solid #ccc;
  }
</style>

<title>Notes</title>
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
  rel="stylesheet"
/>

<div class="parent">
  <div id="status-container">
    <div id="status-saved"></div>
    <div id="status-created"></div>
  </div>
  <div id="search-container">
    <input id="search-input" type="text" placeholder="Search" />
  </div>
  <div id="content-container" index="-1" contenteditable="true" autofocus></div>
  <div id="list-container">
    <ul id="note-list">
      <li>No notes yet</li>
    </ul>
  </div>
</div>

<script>
  const app = (() => {
    const storageKey = "notes";
    const storage = localStorage;

    if (storage.getItem(storageKey) === null) {
      storage.setItem(storageKey, JSON.stringify([]));
    }

    const create = () => {
      return { content: "", index: -1 };
    };

    const save = note => {
      console.log("saved");
      const allNotes = loadAll();
      if (note.index < 0) {
        note.index = allNotes.length;
        note.created = Date.now();
      }

      allNotes[note.index] = note;
      saveAll(allNotes);
      return note;
    };

    const load = index => {
      console.log("loaded", index);
      const allNotes = loadAll();
      return allNotes[index];
    };

    const loadAll = () => {
      console.log("loaded all");
      return JSON.parse(storage.getItem(storageKey));
    };

    const saveAll = notes => {
      console.log("loaded all");
      storage.setItem(storageKey, JSON.stringify(notes));
    };

    const loadAndSearch = string => {
      console.log("searching for ", string);
      const allNotes = loadAll();
      return allNotes.filter(item => {
        if (isStringInString(string, item.content)) {
          return item;
        }
      });
    };

    const isStringInString = (a, b) => {
      return b.toLowerCase().indexOf(a.toLowerCase()) > -1;
    };
    return {
      save,
      load,
      loadAll,
      loadAndSearch,
      create
    };
  })();

  const ui = (() => {
    const statusCircle = document.getElementById("status-saved");
    const statusCreated = document.getElementById("status-created");
    const noteList = document.getElementById("note-list");
    const content = document.getElementById("content-container");

    const saved = isSaved => {
      if (isSaved) {
        statusCircle.classList.add("yes");
      } else {
        statusCircle.classList.remove("yes");
      }
    };

    const listNotes = notes => {
      noteList.innerHTML = "";

      const noteElements = notes.map(note => {
        const row = document.createElement("li");
        row.innerText = note.content;
        row.setAttribute("index", note.index);

        row.addEventListener("click", e => {
          loadNote(note);
          saved(true);
        });
        noteList.appendChild(row);
      });
    };

    const loadNote = note => {
      content.setAttribute("index", note.index);
      content.setAttribute("created", note.created);
      content.innerText = note.content;
      statusCreated.innerText = formatDate(new Date(note.created));
    };

    const formatDate = date => {
      date = new Date(date.getTime() - date.getTimezoneOffset() * 60 * 1000);
      return date
        .toISOString()
        .replace("T", " ")
        .replace("Z", " ")
        .split(".")[0];
    };

    return { saved, listNotes, loadNote };
  })();

  document.getElementById("content-container").addEventListener(
    "keydown",
    e => {
      // ctrl + s
      if (e.ctrlKey && e.keyCode == 83) {
        const savedNote = app.save({
          content: e.target.innerText,
          index: e.target.getAttribute("index"),
          created: e.target.hasAttribute("created")
            ? new Date(
                Number.parseInt(e.target.getAttribute("created"))
              ).getTime()
            : Date.now()
        });
        ui.saved(true);

        const content = document.getElementById("content-container");
        content.setAttribute("index", savedNote.index);
        const filteredNotes = app.loadAndSearch(searchBox.value);
        ui.listNotes(filteredNotes);
        e.preventDefault();
      } else {
        ui.saved(false);
      }
    },
    false
  );

  // search
  var searchBox = document.getElementById("search-input");
  searchBox.addEventListener("keyup", function(e) {
    const filteredNotes = app.loadAndSearch(searchBox.value);
    ui.listNotes(filteredNotes);
  });

  document.getElementById("content-container").addEventListener("paste", e => {
    e.preventDefault();
    var text = (e.originalEvent || e).clipboardData.getData("text/plain");
    document.execCommand("inserttext", false, text);
  });

  window.addEventListener("storage", () => {
    let allNotes = app.loadAll();
    ui.listNotes(allNotes);
    console.log("storage updated");
  });

  // init
  let allNotes = app.loadAll();
  ui.listNotes(allNotes);
</script>
